.about {
  background: #000;
  color: #fff;
  padding: 120px 20px;
  font-family: "Segoe UI", sans-serif;
}

.about-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

/* TEXT */
.about-label {
  color: #888;
  letter-spacing: 3px;
  font-size: 14px;
  text-transform: uppercase;
}

.about-title {
  font-size: 52px;
  margin: 20px 0;
  line-height: 1.1;
  background: linear-gradient(90deg, #ff2d2d, #ff7a18);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-text p {
  color: #ccc;
  line-height: 1.8;
  margin-bottom: 16px;
  max-width: 520px;
}

/* STATS */
.about-stats {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.about-stats h3 {
  font-size: 32px;
  color: #ff2d2d;
}

.about-stats span {
  font-size: 14px;
  color: #aaa;
}

/* IMAGE */
.about-image {
  position: relative;
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 300px;
  border-radius: 14px;
  z-index: 2;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.8);
}

.about-image img:hover {
  transform: translateY(-12px) scale(1.04);
}

.image-bg {
  position: absolute;
  width: 260px;
  height: 260px;
  background: #ff2d2d;
  border-radius: 100%;
  z-index: 1;
  filter: blur(2px);
  box-shadow: 0 0 120px rgba(255, 45, 45, 0.7);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-text p {
    margin: auto;
  }

  .about-stats {
    justify-content: center;
  }

  .about-image {
    margin-top: 60px;
     }
}
